@media(min-width: 1296px) {
	input::placeholder,
	textarea::placeholder {
		visibility: hidden;
	}	
}

@media(max-width: 1295px) { /*11111111111111111111111111111111111111111111111*/
	#menu ul li {
		font-size: 26px;
		padding-right: 10px;
	}

	.frase {
		margin-top: 170px;
	}

	.frase img{
		width: 95%;
	}

	input::placeholder,
	textarea::placeholder {
		visibility: hidden;
	}

	#listapie {
	    font-size: 20px;
	}
}

@media(max-width: 1205px) { /*22222222222222222222222222222222222222222222222*/
	header img {
		width: 83%;
	}

	#menu ul li {
		font-size: 24px;
	}

	.textoprincipal {
		padding-left: 80px;
		padding-right: 50px;
		padding-top: 30px;
		text-align: justify;
		font-size: 19px;
	}


	.frase {
		margin-top: 160px;
	}

	.frase img{
		width: 85%;
	}

	#listapie {
	    font-size: 18px;
	}
}

@media(max-width: 1130px) { /*33333333333333333333333333333333333333333333333*/
	#menu ul li {
		font-size: 22px;
		padding-right: 8px;
	}

	.w3-content .w3-display-container{
		max-height: 190px;
		min-height: 190px;
	}

	.mySlides {
		max-height: 190px;
		min-height: 190px;
	}

	.frase {
		margin-top: 150px;
	}

	.frase img{
		width: 83%;
	}

	.textoprincipal {
		font-size: 17px;
	}

	#listapie li {
		margin-right: 0px;
	}

	#listapie li:last-child	 {
		margin-left: 50px;
	}
}

@media(max-width: 1040px) {/*444444444444444444444444444444444444444444444444*/
	#menu ul li {
		font-size: 20px;
		padding-right: 7px;
	}

	.w3-content .w3-display-container{
		max-height: 180px;
		min-height: 180px;
	}

	.mySlides {
		max-height: 180px;
		min-height: 180px;
	}

	.frase {
		margin-top: 130px;
	}

	.frase img{
		width: 80%;
	}

	#formulario {
		font-size: 17px;
	}

	#formulario label {
		font-size: 13px;
	}

	#listapie {
	    font-size: 16px;
	}

	#listapie li:last-child	 {
		margin-left: 50px;
	}

	.noticia {
		width: 43%;
		margin-left: 65px;
	}

	.noticia .noticia-imagen,
	.noticia .noticia-imagen img{
		max-height: 100px;
		min-height: 100px;
	}

	.noticia .noticia-encabezado h3 {
		font-size: 32px;
	}

}

@media(max-width: 955px){/*55555555555555555555555555555555555555555555555555*/

	#cabecera {
		margin-bottom: 0px;
	}

	header {
		width: 100%;
		position: relative;
		bottom: 50px;
		padding-left: 50px;
	}

	header img{
		width: 300px;
	}

	#menu {
		width: 100%;
		height: 40px;
		position: relative;
		top: 80px;
	}

	#menu ul li {
		line-height: 0px;
		padding-right: 15px;
	}

	.frase {
		margin-top: 100px;
	}

	.frase img{
		width: 80%;
	}

	.textoprincipal {
		padding-top: 10px;
		font-size: 16px;
	}

	#formulario {
		font-size: 15px;
	}

	#formulario label {
		font-size: 11px;
	}

	#formulario input[type="email"] {
		margin-bottom: 20px;
	}

	#formulario input[type="email"],
	#formulario input[type="number"] {
		width: 95%;
	}

	#formulario label {
		visibility: hidden;
	}

	#formulario label[for="checkbox"] {
		visibility: visible;
	}

	input::placeholder,
	textarea::placeholder {
		visibility: visible;
	}

	#listapie {
		margin: 0px auto;
		line-height: 10px;
	}

	#listapie li {
		text-align: center;
		display: block;
		clear: both;
		float: none;
		margin: 0px;
		padding: 0px;
		margin-bottom: 20px;
	}

	#listapie li:last-child	 {
		margin: 0px auto;
	}

	#listapie .colorazulclaro {
		display: none;
	}

	.noticia {
		width: 40%;
		margin-left: 80px;
	}

}

/*Cambio drástico*/

@media(max-width: 835px) {/*6666666666666666666666666666666666666666666666666*/

	.w3-content .w3-display-container{
		max-height: 170px;
		min-height: 170px;
	}

	.mySlides {
		max-height: 170px;
		min-height: 170px;
	}

	.w3-badge {
		height: 15px;
		width: 15px;
	}

	.imagenprincipal {
		width: 50%;
	}

	.imagenprincipal img {
		width: 100%;
	}

	.frase {
		width: 50%;
		position: static;
		float: left;
		z-index: 0;
		margin: 0px;
		padding: 0px;
	}

	.frase img {
		display: block;
		width: 75%;
		padding: 0px;
		margin: 0px auto;
	}

	#frase1 {
		margin-top: 0px;
	}

	.textoprincipal {
		clear: both;
		float: none;
		width: 100%;
		padding-left: 50px;
	}

	#formulario {
		display: block;
		float: left;
		clear: both;
		width: 100%;
		margin-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.noticia {
		clear: both;
		float: left;
		width: 100%;
		margin: 0px auto;
		margin-top: 10px;
	}

	.noticia .noticia-encabezado {
		width: 100%;
	}

	.noticia .noticia-imagen,
	.noticia .noticia-imagen img{
		max-height: 110px;
		min-height: 110px;
	}

	.noticia .noticia-encabezado h3 {
		font-size: 32px;
	}

}

@media(max-width: 730px) {/*7777777777777777777777777777777777777777777777777*/
	#menu ul li {
		font-size: 18px;
		padding-right: 5px;
	}

	.w3-content .w3-display-container{
		max-height: 150px;
		min-height: 150px;
	}

	.mySlides {
		max-height: 150px;
		min-height: 150px;
	}

	.noticia .noticia-imagen,
	.noticia .noticia-imagen img{
		max-height: 100px;
		min-height: 100px;
	}

	.noticia .noticia-encabezado h3 {
		font-size: 30px;
	}
}

@media(max-width: 610px) {/*8888888888888888888888888888888888888888888888888*/
	#menu ul li {
		font-size: 16px;
		padding-right: 2px;
	}

	.w3-content .w3-display-container{
		max-height: 120px;
		min-height: 120px;
	}

	.mySlides {
		max-height: 120px;
		min-height: 120px;
	}

	.noticia .noticia-imagen,
	.noticia .noticia-imagen img{
		max-height: 90px;
		min-height: 90px;
	}

	.noticia .noticia-encabezado h3 {
		font-size: 28px;
	}
}

@media(max-width: 540px) {/*9999999999999999999999999999999999999999999999999*/
	#menu ul{
		margin-left: -30px;
	}

	#menu ul li {
		padding-right: 0px;
		margin: 0px;
	}

	.w3-content .w3-display-container{
		max-height: 120px;
		min-height: 120px;
	}
}

@media(max-width: 480px) { /*101010101010101010101010101010101010101010101010*/

	header {
		bottom: 90px;
	}

	#menu {
		height: 80px;
	}

	#menu ul li {
		padding-right: 10px;
	}

	.noticia .noticia-encabezado h3 {
		font-size: 24px;
	}
}