/*Fuentes*/
@font-face {
	font-family: "bkant";
	src: url("fonts/BKANT.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "antquab";
	src: url("fonts/ANTQUAB.TTF") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "antquabi";
	src: url("fonts/ANTQUABI.TTF") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "antquai";
	src: url("fonts/ANTQUAI.TTF") format("truetype");
	font-weight: normal;
	font-style: italic;
}

/*Generales*/
* {
	color: white;
	font-family: "bkant";
}

body {
	background-color: black;
}

#cabecera {
	margin-top: 20px;
}

.clearfix {
	float: none;
	clear: both;
}

.textobold {
	font-family: "antquab";
}

.symbol {
	font-family: "WebSymbolsRegular";
}

/*Cabecera*/

header {
	display: inline;
	width: 30%;
	float: left;
}

#menu {
	display: block;
	width: 70%;
	float: left;

}

#menu ul {
	list-style: none;
}

#menu ul li {
	text-align: center;
	line-height: 100px;
	font-size: 28px;
	display: inline-block;
	padding-left: 5px; 
	padding-right: 12px;
	transition: all 400ms;
}

#menu ul li:hover {
	transform: scale(1.2,1.2);
}

#menu ul li:hover #inicio {
	color: rgb(23,51,100);
}

#menu ul li:hover #somos {
	color: rgb(166,206,57);
}

#menu ul li:hover #soluciones {
	color: rgb(0,149,217);
}

#menu ul li:hover #tecnologia {
	color: rgb(165,69,134);
}

#menu ul li:hover #etica {
	color: rgb(237,2,140);
}

#menu ul li:hover #acercate {
	color: rgb(238,29,35);
}

#menu ul li:hover #news {
	color: rgb(245,130,32);
}

a {
	text-decoration: none;
}

header img {
	display: block;
	width: 85%;
	margin-top: 10px;
	margin-right: 10px;
}

/*Barra de colores*/

#barracolores {
	margin-top: 0px;
	width: 100%;
	font-size: 4px;
	margin-bottom: 20px;
}

#barracolores #azuloscuro {
	float: left;
	width: 12%;
	color: rgb(23,51,100);
	background-color: rgb(23,51,100);
}
#barracolores #verdelimon {
	float: left;
	width: 13%;
	color: rgb(166,206,57);
	background-color: rgb(166,206,57);
}
#barracolores #azulcielo {
	float: left;
	width: 12%;
	color: rgb(0,149,217);
	background-color: rgb(0,149,217);
}
#barracolores #lila {
	float: left;
	width: 13%;
	color: rgb(165,69,134);
	background-color: rgb(165,69,134);
}
#barracolores #rosado {
	float: left;
	width: 12%;
	color: rgb(237,2,140);
	background-color: rgb(237,2,140);
}
#barracolores #rojo {
	float: left;
	width: 13%;
	color: rgb(238,29,35);
	background-color: rgb(238,29,35);
}
#barracolores #naranja {
	float: left;
	width: 12%;
	color: rgb(245,130,32);
	background-color: rgb(245,130,32);
}
#barracolores #amarillo {
	float: left;
	width: 13%;
	color: rgb(254,202,10);
	background-color: rgb(254,202,10);
}

/*Slider*/

.w3-content {
	max-width: 100%;
}

.w3-content .w3-display-container{
	width: 100%;
	max-height: 210px;
	min-height: 210px;
}

.mySlides {
	width: 100%;
	max-height: 210px;
	min-height: 210px;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer
}

.w3-badge {
	height: 25px;
	width: 25px;
	padding: 0;
}

/*Contenido*/

.content {
	margin-top: 10px;
	width: 100%;
}

.imagenprincipal img {
	width: 50%;
	margin: 0px auto;
	float: left;
}

.textoprincipal {
	display: block;
	float: left;
	width: 50%;
	padding-left: 80px;
	padding-right: 50px;
	padding-top: 30px;
	text-align: justify;
	font-size: 19px;
	letter-spacing: 0px;
}

.frase {
	position: absolute;
	margin-top: 180px;
	margin-left: 35%;
	z-index: 1;
}

/*Pie de pagina*/

footer {
	margin-top: 10px;
}

#piedepagina {
	margin-bottom: 0px;
}

#piedepagina > p {
	width: 50%;
	display: block;
	float: left;
	margin-left: 50px;
	margin-top: 85px;
	font-size: 18px;
}

#piedepagina #imagenfooter {
	width: 27%;
	display: block;
	float: right;
	margin-right: 60px;
}

#listapie {
	margin-right: 20px;
	text-align: center;
    font-size: 22px; 
    font-weight: 2px;
    line-height: 0px;
}

#listapie li {
	display:inline;
	margin-right: 10px;
	letter-spacing: 1px;
}

#listapie #mr {
	display: inline;
	width: 20px;
}

.colorazulclaro {
	color: rgb(0,149,217);
	font-weight: bold;
}

/*Formulario seccion Acércate*/
#formulario {
	display: block;
	float: left;
	width: 50%;
	padding-left: 80px;
	padding-right: 50px;
	font-size: 19px;
}

#formulario label{
	display: inline-block;
	font-size: 15px;
	width: 45%;
	padding-left: 15px;
	letter-spacing: 1px;
}

#formulario input,
#formulario textarea {
	width: 95%;
	padding-left: 10px;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgb(238,29,35);
	border-right: 1px solid rgb(238,29,35);
	box-shadow: 1px 1px 2px rgb(238,29,35), 1px 2px 1px rgb(238,29,35);
	opacity: 50%;
}

#formulario input[type="email"],
#formulario input[type="number"] {
	width: 47%;
}

#formulario input[type="email"]:focus,
#formulario input[type="number"]:focus,
#formulario input[type="text"]:focus,
#formulario textarea:focus {
	outline: none;
	opacity: 100%;
}

#formulario textarea {
	resize: none;
}

#formulario textarea {
	width: 95%;
}

#formulario label[for="texto"] {
	width: 95%;
	font-size: 12px;
}

#formulario input[type="button"] {
	transition: all 500ms;
	border: 1px solid white;
	box-shadow: 1px 1px 2px white, 1px 2px 1px white, 2px 0px 2px white;
	margin-top: 5px;
}

#formulario input[type="button"]:hover {
	opacity: 100%;
	cursor: pointer;
}